*
/*------------------NAVIGATION-------------------*/
{
    margin: 0;
    padding: 0;
}
#navbar nav {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #746464 !important; 
    box-shadow: 0 0 15px 5px rgb(107, 7, 7) !important;
}
#navbar .btn {
    margin: 20px;
	margin-bottom: 30px;
    background-color: whitesmoke !important;
    color:  rgb(121, 40, 53) !important; 
}

#navbar .form-control {
    border: rgb(107, 7, 7) !important;
}
.navbar-toggler{
	border: none !important;
}
#nav-item li{
    color: white !important;
    z-index: 1;
}
.nav-link {
    color: rgb(107, 7, 7) !important;
}
#navbar .form:active{
    border-color: olive !important;
}
#navbar ul li a:hover {
    color: rgb(243, 11, 11) !important;
    position: sticky;
}
#navbar .btn:hover {
    color: whitesmoke !important;
    background-color: rgb(46, 2, 2) !important;
    border: 30px whitesmoke;
}
/*----------------Profiles-------------------------*/
#profiles {
    padding: 40px 0;
    background-color: whitesmoke;
}
#profiles h3 {
	color: rgb(87, 4, 4);
	font-size: 15px;
	margin-bottom: 5px;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
}
.profile {
    margin: 10px auto;
	width: 100%;
    background-color: white;
    transition: 0.5s;
}
#profiles .profile:hover {
    box-shadow: 0 0 15px 5px rgb(221, 30, 93) ;
}
.profile .login-btn {
    display: inline-block;
    background-color: white;
	padding:15px 15px 30px;
	text-align: center;
	width: 100%;
}
.login {
    background-color:white;
    border-radius: 10px;
    border-color: rgb(107, 7, 7);
    color: rgb(107, 7, 7);
	font-size: 15px;
	padding: 7px 25px;
	transition: 0.5s;
}
.login:hover {
    border-color: 1px solid #fff;
    background-color: rgb(107, 7, 7);
    color: white;
}
.profile span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: grey;
    text-transform: capitalize;
    padding: 3px;
}
.profile-head {
    background-color: rgb(57, 4 , 107);
	display:inline;
	float: left;
	padding: 10px 5px;
    text-align: center;
    background-color: rgb(107, 7, 7);
    width: 100%;
}
.profile-head h2 {
	color: #fff;
	font-size: 30px;
	margin-bottom: 5px;
    padding: 5px;
	text-transform: uppercase;
}
#profiles .span-head {
    color: white;
}
#profiles .span-head1 {
    color: white;
    font-size: large;
} 
/*-------------Footer-------------------*/
#footer {
	background: rgb(240, 23, 59);
	color: #fff;
	padding: 12px;
}
#footer p {
    text-align: center;
    font-weight: bolder;
}
.fa-heart-o{
	margin:3px;
	color: rgb(97, 2, 2);
}

